
:root,.palette1 {

--v-c0h0: #2e0302;
--v-c0h1: #5c0604;
--v-c0h2: #8a0907;
--v-c0h3: #b80c09;
--v-c0h4: #f4201c;
--v-c0h5: #f86a68;
--v-c0h6: #fbb5b3;
--v-c1h0: #481307;
--v-c1h1: #90270e;
--v-c1h2: #d83a15;
--v-c1h3: #ee6c4d;
--v-c1h4: #f2917a;
--v-c1h5: #f6b6a6;
--v-c1h6: #fbdad3;
--v-c2h0: #03141b;
--v-c2h1: #062836;
--v-c2h2: #083b51;
--v-c2h3: #0b4f6c;
--v-c2h4: #1490c5;
--v-c2h5: #4ebded;
--v-c2h6: #a6def6;
--v-c3h0: #002e3c;
--v-c3h1: #005d78;
--v-c3h2: #018bb3;
--v-c3h3: #01baef;
--v-c3h4: #35d1fe;
--v-c3h5: #79e1fe;
--v-c3h6: #bcf0ff;
--v-c4h0: #2b3e3f;
--v-c4h1: #567b7e;
--v-c4h2: #8dafb1;
--v-c4h3: #ccdbdc;
--v-c4h4: #d9e4e5;
--v-c4h5: #e6edee;
--v-c4h6: #f2f6f6;
--v-c5h0: #1a2628;
--v-c5h1: #354c50;
--v-c5h2: #507277;
--v-c5h3: #6c969d;
--v-c5h4: #91b0b6;
--v-c5h5: #b5cbce;
--v-c5h6: #dae5e7;
--v-c6h0: #1b5021;
--v-c6h1: #37a141;
--v-c6h2: #74d07d;
--v-c6h3: #c4ebc8;
--v-c6h4: #d3f0d6;
--v-c6h5: #e2f5e4;
--v-c6h6: #f0faf1;
--v-c7h0: #11261d;
--v-c7h1: #224c3b;
--v-c7h2: #327158;
--v-c7h3: #439775;
--v-c7h4: #67bc9a;
--v-c7h5: #9ad2bb;
--v-c7h6: #cce9dd;
--v-c8h0: #574704;
--v-c8h1: #af8e08;
--v-c8h2: #f5cb1d;
--v-c8h3: #f9df74;
--v-c8h4: #fbe797;
--v-c8h5: #fcefba;
--v-c8h6: #fef7dc;

--v-background-color: white;
--v-background-color-hover: blue;
--v-background-color-selected: green;
--v-border-color: purple;
--v-border-radius: 3px;
--v-color: red;
--v-color-hover: white;
--v-color-selected: white;
--v-text-background-color: var(--v-background-color, white);
--v-text-background-color-hover: var(--v-background-color-hover, blue);
--v-text-background-color-selected: var(--v-background-color-selected, green);
--v-text-border-color: var(--v-border-color, purple);
--v-text-border-radius: var(--v-border-radius, 3px);
--v-text-color: var(--v-color, red);
--v-text-color-hover: var(--v-color-hover, white);
--v-text-color-selected: var(--v-color-selected, white);
--v-text-primary-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-primary-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-primary-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-primary-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-primary-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-primary-color: var(--v-text-color, var(--v-color, red));
--v-text-primary-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-primary-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-secondary-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-secondary-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-secondary-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-secondary-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-secondary-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-secondary-color: var(--v-text-color, var(--v-color, red));
--v-text-secondary-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-secondary-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-accent-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-accent-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-accent-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-accent-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-accent-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-accent-color: var(--v-text-color, var(--v-color, red));
--v-text-accent-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-accent-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-alert-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-alert-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-alert-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-alert-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-alert-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-alert-color: var(--v-text-color, var(--v-color, red));
--v-text-alert-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-alert-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-destructive-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-destructive-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-destructive-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-destructive-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-destructive-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-destructive-color: var(--v-text-color, var(--v-color, red));
--v-text-destructive-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-destructive-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-success-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-success-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-success-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-success-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-success-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-success-color: var(--v-text-color, var(--v-color, red));
--v-text-success-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-success-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-failure-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-failure-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-failure-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-failure-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-failure-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-failure-color: var(--v-text-color, var(--v-color, red));
--v-text-failure-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-failure-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-text-warning-background-color: var(--v-text-background-color, var(--v-background-color, white));
--v-text-warning-background-color-hover: var(--v-text-background-color-hover, var(--v-background-color-hover, blue));
--v-text-warning-background-color-selected: var(--v-text-background-color-selected, var(--v-background-color-selected, green));
--v-text-warning-border-color: var(--v-text-border-color, var(--v-border-color, purple));
--v-text-warning-border-radius: var(--v-text-border-radius, var(--v-border-radius, 3px));
--v-text-warning-color: var(--v-text-color, var(--v-color, red));
--v-text-warning-color-hover: var(--v-text-color-hover, var(--v-color-hover, white));
--v-text-warning-color-selected: var(--v-text-color-selected, var(--v-color-selected, white));
--v-link-background-color: var(--v-background-color, white);
--v-link-background-color-hover: var(--v-background-color-hover, blue);
--v-link-background-color-selected: var(--v-background-color-selected, green);
--v-link-border-color: var(--v-border-color, purple);
--v-link-border-radius: var(--v-border-radius, 3px);
--v-link-color: var(--v-color, red);
--v-link-color-hover: var(--v-color-hover, white);
--v-link-color-selected: var(--v-color-selected, white);
--v-link-primary-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-primary-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-primary-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-primary-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-primary-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-primary-color: var(--v-link-color, var(--v-color, red));
--v-link-primary-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-primary-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-secondary-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-secondary-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-secondary-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-secondary-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-secondary-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-secondary-color: var(--v-link-color, var(--v-color, red));
--v-link-secondary-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-secondary-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-accent-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-accent-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-accent-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-accent-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-accent-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-accent-color: var(--v-link-color, var(--v-color, red));
--v-link-accent-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-accent-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-alert-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-alert-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-alert-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-alert-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-alert-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-alert-color: var(--v-link-color, var(--v-color, red));
--v-link-alert-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-alert-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-destructive-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-destructive-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-destructive-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-destructive-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-destructive-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-destructive-color: var(--v-link-color, var(--v-color, red));
--v-link-destructive-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-destructive-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-success-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-success-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-success-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-success-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-success-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-success-color: var(--v-link-color, var(--v-color, red));
--v-link-success-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-success-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-failure-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-failure-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-failure-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-failure-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-failure-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-failure-color: var(--v-link-color, var(--v-color, red));
--v-link-failure-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-failure-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-link-warning-background-color: var(--v-link-background-color, var(--v-background-color, white));
--v-link-warning-background-color-hover: var(--v-link-background-color-hover, var(--v-background-color-hover, blue));
--v-link-warning-background-color-selected: var(--v-link-background-color-selected, var(--v-background-color-selected, green));
--v-link-warning-border-color: var(--v-link-border-color, var(--v-border-color, purple));
--v-link-warning-border-radius: var(--v-link-border-radius, var(--v-border-radius, 3px));
--v-link-warning-color: var(--v-link-color, var(--v-color, red));
--v-link-warning-color-hover: var(--v-link-color-hover, var(--v-color-hover, white));
--v-link-warning-color-selected: var(--v-link-color-selected, var(--v-color-selected, white));
--v-list-background-color: var(--v-background-color, white);
--v-list-background-color-hover: var(--v-background-color-hover, blue);
--v-list-background-color-selected: var(--v-background-color-selected, green);
--v-list-border-color: var(--v-border-color, purple);
--v-list-border-radius: var(--v-border-radius, 3px);
--v-list-color: var(--v-color, red);
--v-list-color-hover: var(--v-color-hover, white);
--v-list-color-selected: var(--v-color-selected, white);
--v-list-primary-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-primary-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-primary-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-primary-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-primary-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-primary-color: var(--v-list-color, var(--v-color, red));
--v-list-primary-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-primary-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-secondary-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-secondary-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-secondary-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-secondary-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-secondary-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-secondary-color: var(--v-list-color, var(--v-color, red));
--v-list-secondary-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-secondary-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-accent-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-accent-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-accent-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-accent-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-accent-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-accent-color: var(--v-list-color, var(--v-color, red));
--v-list-accent-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-accent-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-alert-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-alert-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-alert-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-alert-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-alert-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-alert-color: var(--v-list-color, var(--v-color, red));
--v-list-alert-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-alert-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-destructive-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-destructive-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-destructive-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-destructive-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-destructive-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-destructive-color: var(--v-list-color, var(--v-color, red));
--v-list-destructive-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-destructive-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-success-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-success-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-success-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-success-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-success-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-success-color: var(--v-list-color, var(--v-color, red));
--v-list-success-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-success-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-failure-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-failure-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-failure-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-failure-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-failure-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-failure-color: var(--v-list-color, var(--v-color, red));
--v-list-failure-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-failure-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-list-warning-background-color: var(--v-list-background-color, var(--v-background-color, white));
--v-list-warning-background-color-hover: var(--v-list-background-color-hover, var(--v-background-color-hover, blue));
--v-list-warning-background-color-selected: var(--v-list-background-color-selected, var(--v-background-color-selected, green));
--v-list-warning-border-color: var(--v-list-border-color, var(--v-border-color, purple));
--v-list-warning-border-radius: var(--v-list-border-radius, var(--v-border-radius, 3px));
--v-list-warning-color: var(--v-list-color, var(--v-color, red));
--v-list-warning-color-hover: var(--v-list-color-hover, var(--v-color-hover, white));
--v-list-warning-color-selected: var(--v-list-color-selected, var(--v-color-selected, white));
--v-action-background-color: var(--v-background-color, white);
--v-action-background-color-hover: var(--v-background-color-hover, blue);
--v-action-background-color-selected: var(--v-background-color-selected, green);
--v-action-border-color: var(--v-border-color, purple);
--v-action-border-radius: var(--v-border-radius, 3px);
--v-action-color: var(--v-color, red);
--v-action-color-hover: var(--v-color-hover, white);
--v-action-color-selected: var(--v-color-selected, white);
--v-action-primary-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-primary-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-primary-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-primary-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-primary-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-primary-color: var(--v-action-color, var(--v-color, red));
--v-action-primary-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-primary-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-secondary-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-secondary-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-secondary-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-secondary-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-secondary-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-secondary-color: var(--v-action-color, var(--v-color, red));
--v-action-secondary-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-secondary-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-accent-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-accent-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-accent-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-accent-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-accent-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-accent-color: var(--v-action-color, var(--v-color, red));
--v-action-accent-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-accent-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-alert-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-alert-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-alert-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-alert-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-alert-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-alert-color: var(--v-action-color, var(--v-color, red));
--v-action-alert-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-alert-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-destructive-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-destructive-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-destructive-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-destructive-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-destructive-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-destructive-color: var(--v-action-color, var(--v-color, red));
--v-action-destructive-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-destructive-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-success-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-success-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-success-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-success-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-success-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-success-color: var(--v-action-color, var(--v-color, red));
--v-action-success-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-success-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-failure-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-failure-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-failure-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-failure-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-failure-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-failure-color: var(--v-action-color, var(--v-color, red));
--v-action-failure-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-failure-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
--v-action-warning-background-color: var(--v-action-background-color, var(--v-background-color, white));
--v-action-warning-background-color-hover: var(--v-action-background-color-hover, var(--v-background-color-hover, blue));
--v-action-warning-background-color-selected: var(--v-action-background-color-selected, var(--v-background-color-selected, green));
--v-action-warning-border-color: var(--v-action-border-color, var(--v-border-color, purple));
--v-action-warning-border-radius: var(--v-action-border-radius, var(--v-border-radius, 3px));
--v-action-warning-color: var(--v-action-color, var(--v-color, red));
--v-action-warning-color-hover: var(--v-action-color-hover, var(--v-color-hover, white));
--v-action-warning-color-selected: var(--v-action-color-selected, var(--v-color-selected, white));
}

..workspace {
  --v-link-color: var(--v-c4h3);

}

.:root .head {
  --v-text-color: green;

}

